
@fontColor: #333;
@borderColor: #f938ab;

.box {
  border: 1px solid @borderColor;
  width: 300px;
  height: 300px;
  color: @fontColor
}
.box1{
  background: url(../../../statics/images/react.jpg) 0 0 no-repeat;
  background-size: contain;
}
.box2{
  background: url(../../../statics/images/vue.png) 0 0 no-repeat;
  background-size: contain;
}